<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HLNimbleiOSChallenge.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>989DA4822AE26D8700054926</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>989DA4982AE26D8800054926</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>989DA4A22AE26D8800054926</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
